
.product-detail-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 120px 10px 20px 10px;
    max-width: 1500px;
    margin: auto;
    background-color: #8cc8b8;
  }
  
  .carousel-container {
    flex: 1;
  }

  .carousel-containerrr {
    flex: 1;
    max-width: 400px;
  }
  
  .product-image {
    width: 100%;
    object-fit: cover;
    height: 500px;
  }
  
  .product-detail-content {
    flex: 1 1;
    padding: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;
}

  
  .product-title {
    font-size: 34px;
    margin-bottom: 17px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    background-color: #ffffff38;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .product-price {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .product-description {
    margin-bottom: 20px;
  }
  
  .product-meta {
    margin-bottom: 20px;
  }
  
  .add-to-basket-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-to-basket-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .product-detail-page {
      flex-direction: column;
      align-items: center;
    }
  }
  
