.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7ac3b0;
  color: hsl(0, 0%, 100%);
  width: 100%;
  }
  
  .footer-left,
  .footer-right {
    flex: 1; /* Ocupan cada uno el 50% del espacio disponible */
  }

  .footer-right{
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-left: 50px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center; /* Centra los iconos de redes sociales */
    margin-left: 30px;
  }
  
  .social-icons a {
    color: #ffffff; 
    font-size: 24px;  
    margin-right: 20px; 
  }
  
  .social-icons a:hover {
    color: #555; /* Cambia el color al pasar el ratón */
  }
  
  /* Estilos responsivos para pantallas pequeñas */
  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
    }
  
    .footer-left,
    .footer-right {
      flex: none;
      width: 100%; /* Cada sección toma el ancho completo */
      text-align: center; /* Centrado del contenido en dispositivos móviles */
      margin-bottom: 20px; /* Espacio entre las secciones */
      justify-content: center;
    }

    .footer-logo{
      margin-left: 0;
    }
  }
  