.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7ac3b0;
  color: #fff;
  width: 100vw;
  }
  
  .footer-left,
  .footer-right {
    flex: 1; /* Ocupan cada uno el 50% del espacio disponible */
  }
  
  .footer-logo {
    max-width: 150px;
    margin-left: 50px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center; /* Centra los iconos de redes sociales */
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px; /* Espacio entre iconos */
    font-size: 24px; /* Tama침o de los iconos */
  }
  
  .social-icons a:hover {
    color: #ff5e14; /* Cambio de color al pasar el mouse */
  }
  
  /* Estilos responsivos para pantallas peque침as */
  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
    }
  
    .footer-left,
    .footer-right {
      flex: none;
      width: 100%; /* Cada secci칩n toma el ancho completo */
      text-align: center; /* Centrado del contenido en dispositivos m칩viles */
      margin-bottom: 20px; /* Espacio entre las secciones */
    }
  }
  