.collections {
    display: flex;
    justify-content: space-around;
    padding: 72px 0;
    flex-wrap: wrap;
}

#collection {
    background-color: #bec1b9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    bottom: 10px;
}

.content {
    width: calc(33.333% - 3rem); /* Tres elementos por fila con un espacio de 1rem */
    margin-bottom: 2rem; /* Espacio debajo de cada tarjeta */
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
    border-radius: 0.5rem; /* Bordes redondeados para las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para la profundidad */
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;
    background: #f8f8f8; /* Fondo de las tarjetas */
    height: 300px; /* Altura fija para todas las tarjetas */
}

.content img {
    width: 100%;
    height: 300px;
    transition: transform 0.5s ease;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.img-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejorar la visibilidad del texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: white;
}

.content:hover img {
    transform: scale(1.1); /* Efecto de zoom sutil */
}

.content:hover .img-content {
    opacity: 1;
}

.img-content p {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.but{
    text-decoration: none;
    color: #fff;
    background-color: #0000006f;
    padding: 10px;
    border-radius: 5px;
}

.but:hover{
    text-decoration: none;
    color: #000000;
    background-color: #ffffffd3;
    padding: 10px;
    border-radius: 5px;
    transition:  1s ease;
}

.img-content button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.img-content button:hover {
    background-color: #0056b3;
}


@media (max-width: 767px) {
    #collection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content{
        width: 80%;
    }
}