/* Estilos para la barra de navegación */
.navbar {
    background-color: #7ac3b0; /* Ajusta según tu diseño */
    padding: 10px 20px; /* Ajusta el espaciado según necesites */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para la barra de navegación */
    width: 100vw;
}

.cart{
    color: #fff9f9;
    cursor: pointer;
}

.cart:hover{
    color: #000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
    z-index: 10;
}

.hamburger-lines {
    display: none; /* Oculta por defecto, se muestra en pantallas pequeñas */
}

.hamburger-lines .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.menu-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.menu-items li {
    padding: 0 15px; /* Espaciado entre elementos del menú */
}

.menu-items li a {
    text-decoration: none;
    color: #fff9f9; /* Color del texto del enlace */
    font-weight: 500;
}

.menu-items li a:hover {
    color: #000; /* Cambio de color al pasar el ratón */
}

.logo {
    height: 50px; 
    position: relative;
    ;
}

.logo img {
    height: auto;
    width: 168px;
    position: relative;
bottom: 58px;
left: 50px;
}



/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .hamburger-lines {
        display: block;
    }

    .menu-items {
        display: none; /* Oculta los elementos del menú en dispositivos móviles */
    }

    /* Más estilos responsivos según necesites */
}
