/* Estilos para el formulario de contacto */
.contact-formm {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.contact-formm form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
}

.contact-formm input, .contact-formm textarea {
    width: 90%; /* Ajusta el ancho según la disposición */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.contact-formm button {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

.contact-formm button:hover {
    background-color: #0056b3;
}
