







.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Añade espacio entre los productos */
}

.product-list {
    padding: 20px;
    margin: auto;
}

.pa {
    display: flex;
    justify-content: center;
}

.pa select {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #7ac3b0;
}

.p {
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.tit {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list{
    padding: 120px 0 20px 0 !important;
}
